@media (max-width: 768px) {
    #filtros {
        flex-direction: column;
        align-items: center;
    }
    #produtos-container {
        grid-template-columns: 1fr;
    }
    #modal-content {
        width: 95%;
    }
}